// Right now we're using Bootstrap SCSS, but only importing a subset
// of the styles in order to keep the bundle size down. If we want to
// import everything we can, we can uncomment the following line:
//@import "~bootstrap/scss/bootstrap.scss";

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "~bootstrap/scss/functions";

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/variables-dark";

// 4. Include any default map overrides here

// 5. Include remainder of required parts
@import "~bootstrap/scss/maps";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/root";

// 6. Include any other optional stylesheet partials as desired; list below is not inclusive of all available stylesheets
@import "~bootstrap/scss/utilities";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/type";
@import "~bootstrap/scss/images";
@import "~bootstrap/scss/containers";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/card";
@import "~bootstrap/scss/modal";
@import "~bootstrap/scss/toasts";
@import "~bootstrap/scss/close";
@import "~bootstrap/scss/buttons";
@import "~bootstrap/scss/nav";
@import "~bootstrap/scss/dropdown";
@import "~bootstrap/scss/navbar";
@import "~bootstrap/scss/placeholders";
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/spinners";
@import "~bootstrap/scss/alert";
@import "~bootstrap/scss/helpers";
@import "~bootstrap/scss/transitions";
@import "~bootstrap/scss/tooltip";
@import "~bootstrap/scss/popover";
@import "~bootstrap/scss/badge";
@import "~bootstrap/scss/accordion";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "~bootstrap/scss/utilities/api";

:root {
    --bs-bg-opacity: 1;
    --navbar-height: 64px;
    --sidebar-height: 40px;
}

body {
    // Ensure that the content is not covered by the navbar
    padding-top: var(--navbar-height);

    // Prevent the scrollbar from popping in and out when
    // navigating between screens
    overflow-y: scroll;

    // Prevent the page from scrolling too far on mobile devices
    overscroll-behavior: contain;
}

body:has(.game-screen) {
    overflow-y: scroll;
}

@include media-breakpoint-up(md) {
    body:has(.game-screen) {
        overflow-y: hidden;
    }
}

// Make the main content container a bit narrower on larger screens
@include media-breakpoint-up(lg) {
    .container {
        max-width: 770px;
    }
}

// Improve the styling of the active tab in the sidebar
.nav-pills .nav-link {
    text-shadow: 0 0 5px var(--bs-body-bg);
    filter: drop-shadow(0 0 5px var(--bs-body-bg));

    &.active {
        font-weight: bold;
        color: var(--bs-link-color);
        background-color: transparent;
    }
}

body:has(.game-screen) .nav-pills .nav-link {
    text-shadow: none;
    filter: none;
}

// Include the Bootstrap Icons default styling
.bi {
    display: inline-block;
    line-height: 1;
    vertical-align: -.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.navbar-toggler {
    // The React Bootstrap Modal adds a 15px margin-right padding to this
    // element, when a modal is open, which we don't want.
    margin-right: 0 !important;
}

.transitioned {
    transition: all 0.3s;
}

.transitioned.preEnter,
.transitioned.exiting {
    opacity: 0;
}

.transitioned.exited {
    display: none !important;
}

.text-container > *:has(.dice-roll) ~ * {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.text-container > *:has(.dice-roll.finished) ~ * {
    opacity: 1;
}

:has(.dice-roll) ~ .choices-container {
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

:has(.dice-roll.finished) ~ .choices-container {
    opacity: 1;
}

.achievement-incomplete {
    filter: grayscale(1);
}

.achievement-blurred {
    filter: blur(5px);
}

.achievement-incomplete.achievement-blurred {
    filter: grayscale(1) blur(5px);
    pointer-events: none;
    user-select: none;
}

button:has(.card) {
    outline: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    text-align: left;
    user-select: none;
}

button:has(.card):disabled {
    cursor: default;
    filter: grayscale(1);
    pointer-events: none;
    opacity: 0.5;
}

button:active .card, button:focus .card, button:hover .card {
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    --bs-card-border-color: var(--bs-link-hover-color);
}

.choices-container:has(.card) {
    grid-template-columns: repeat(1, 1fr);
}

@include media-breakpoint-up(md) {
    .choices-container:has(.card) {
        grid-template-columns: repeat(2, 1fr);
    }

    .card .small {
        font-size: 0.75rem;
    }
}

.glossary {
    color: var(--bs-body-color);
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-color: rgba(var(--bs-body-color-rgb), 0.25);
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}

p:hover .glossary {
    color: var(--bs-link-hover-color);
    text-decoration-style: solid;
    text-decoration-color: var(--bs-link-hover-color);
}

.choices-container .glossary {
    text-decoration: none;
    font-style: italic;
}

.choices-container .glossary.proper-noun {
    font-style: normal;
}

p:has(:target) {
    background-color: var(--bs-warning-bg-subtle);
    transition: background-color 4s ease-out;
    animation: fade-target-bg 4s ease-out forwards;
}

@keyframes fade-target-bg {
    to {
        background-color: transparent;
    }
}

p:hover .footnote {
    color: var(--bs-link-hover-color);
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-color: var(--bs-link-hover-color);
}

.footnote {
    color: var(--bs-body-color);
    text-decoration: none;
    font-size: 0.75rem;
    vertical-align: super;
    line-height: 0;
}

.footnote-entry {
    text-indent: -1em;
    padding-left: 1em;

    &:target {
        background-color: var(--bs-warning-bg-subtle);
        transition: background-color 4s ease-out;
        animation: fade-target-bg 4s ease-out forwards;
    }
}

.card {
    --bs-card-bg: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity));
}

.game-screen {
    display: none;

    .card {
        background: transparent;
        height: calc(100vh - var(--sidebar-height) - var(--navbar-height) - 8px);
        overflow-y: hidden;
        position: fixed;
        left: 8px;
        width: calc(100% - 532px);
        display: flex;
        flex-direction: column;
        border: none !important;
        border-radius: 0 !important;
    }

    .header-widgets {
        flex: 0 0 auto;

        h1 {
            background: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity));
            margin-left: 0 !important;
            padding-top: 0 !important;
            border-radius: 0 !important;
        }
    }

    .card-body {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        min-height: 0;
        overflow: hidden;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    .text-container {
        flex: 1 1 auto;
        display: flex;
        min-width: 0;
        min-height: 0;
        align-items: center;
        justify-content: center;
    }

    figcaption {
        background: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity));
        color: var(--bs-body-color) !important;
        padding: 2px;
    }
}

figure.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;

    a:has(img) {
        display: block;
        max-width: 100%;
        max-height: 100%;
    }

    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    figcaption {
        max-width: 100%;
        text-align: center;
    }
}

body:not(:has(.game-screen)) figure.image {
    display: inline-table;

    figcaption {
        display: table-caption;
        caption-side: bottom;
    }
}

@include media-breakpoint-up(md) {
    .game-screen {
        display: block;

        figure.image {
            img {
                max-width: 100%;
                max-height: 400px;
            }

            figcaption {
                max-width: 300px;
            }
        }
    }

    body:has(.game-screen) .game-container {
        & .header-widgets, & figure {
            display: none !important;
        }
    }
}

@include media-breakpoint-up(lg) {
    .game-screen {
        figure.image {
            img {
                max-width: 100%;
                max-height: 600px;
            }

            figcaption {
                max-width: 600px;
            }
        }
    }
}

@include media-breakpoint-up(md) {
    body:has(.game-screen) {
        [role="tabpanel"] .card {
            background: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity));
            height: calc(100vh - var(--sidebar-height) - var(--navbar-height) - 8px);
            overflow-y: auto;
            position: fixed;
            right: 8px;
            width: 500px;
        }

        .navbar .container {
            max-width: 100%;
        }

        .sidebar {
            height: var(--sidebar-height);
            width: 100% !important;
            margin-left: 0 !important;
            bottom: 0;
            left: 0;
            background: rgba(var(--bs-tertiary-bg-rgb), var(--bs-bg-opacity));
        }

        .sidebar [role="tablist"] {
            flex-direction: row !important;
        }
    }
}
